---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"growtopia/'
    Priority:        1
  - Regex:           '^<h2o'
    Priority:        2
  - Regex:           '^<'
    Priority:        3
  - Regex:           '.*'
    Priority:        4
